
name: Run Cypress in Docker

on:
  push:
    branches:
      - main

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run Cypress in Docker
        run: |
          docker run --rm \
            -v ${{ github.workspace }}/cypres:/e2e \
            -w /e2e \
            cypress/browsers:node-20.9.0-chrome-118.0.5993.88-1-ff-118.0.2-edge-118.0.2088.46-1 \
            sh -c "npm install && npx cypress run --config-file cypress.config.js"
